.deps
install-sh
missing
compile
depcomp
autom4te.cache
aclocal.m4
INSTALL
Makefile
Makefile.in
config.*
configure
src/marshal.[ch]
src/dscrobbler-dbus.[ch]
src/dscrobbler
src/*.o
data/com.burtonini.Scrobbler.service
